<%= form_for(@rating) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  </br>
  </br>
  </br>

  <div class="box">
  <div class="field">
    <h1> 
      <%= @rating.user.name %><br>
    </h1>
    <%= f.hidden_field :user_id, value: @rating.user.id %>
  </div>

  </br>
  </br>
  </br>

  <div class="field">
    <%= f.radio_button :value, 1 %>
    <label for='rating_value_1'></label>
    <%= f.radio_button :value, 2 %>
    <label for='rating_value_2'></label>
    <%= f.radio_button :value, 3 %>
    <label for='rating_value_3'></label>
    <%= f.radio_button :value, 4 %>
    <label for='rating_value_4'></label>
    <%= f.radio_button :value, 5 %>
    <label for='rating_value_5'></label>
  </div>

  </br>
  </br>
  </br>

  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>
