<!DOCTYPE html>
<html>
<head>
  <title>Meowmeowbeenz</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <span class="nav">
  <%= link_to('Me', user_path(current_user)) %>
  <%= link_to('Users', users_path) %>
  <%= link_to('Rate', new_rating_path) %>
  </span>
<% end %>

<h1>Meow Meow Beenz</h1>

<%= yield %>

</body>
</html>
